<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty name="application_name" source="spring.application.name"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %-30(%green(%d{dd-MM-yyyy HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level)
        %yellow(%logger{36}) %msg%n)
      </Pattern>
    </layout>
  </appender>


  <root level="INFO">
    <appender-ref ref="console"/>
  </root>


</configuration>